@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "integralcf-demibold";
  src: url("/fonts/Fontspring-DEMO-integralcf-demibold.otf") format("opentype");
}

@font-face {
  font-family: "MessinaSansMono-Book";
  src: url("/fonts/MessinaSansMono-Book.woff2") format("woff2");
}

html {
  scrollbar-gutter: stable;
}
